@charset "UTF-8";


*{
    font-family: Arial, Helvetica, sans-serif;
}


:root{
    --cor1: #020DE0;
    --cor2: #2832FA;
    --cor3: #020AAD;
    --cor4: #35386B;
}

body{
    margin: 0px;
    height: 100%;
    max-width: 1120px;
    margin: 0px auto;
}


header{
    background-image:linear-gradient(to bottom, var(--cor3), var(--cor2));
    color: white;
    margin-top: -20px;
    margin-bottom: 0px;
}


header h1, h2{
    text-align: center;

}


header h2{
    font-size: 20px;
    margin-bottom: 30px;
}

header nav{
    display: inline-block;
    padding: 0px 5px;
    position: relative;
    bottom: 5px;
}

header a{
    color: white;
    text-decoration: none;
    
}

header a:hover{
    background-color: black;
}


#sec1 div{
    height: 350px;
    background-image: url(imagens/programacao.jpg);
    background-size: cover;
    background-color: gray;
}


#sec2 h1{
    text-align: center;
}

#sec2 article{
    margin: 5px;
    line-height: 22px;
}


#sec3{
    overflow: auto;
    height: 100%;
}

#sec3 div{
    border: 2px solid black;
    width: 500px;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 15px;
    float: left;
    
}

#sec4{
    border: 2px solid black;
    margin: 0px 5px 15px 5px;
    padding: 5px;
}

#sec4 article{
    margin-bottom: 17px;
    margin-top: 5px;
}


#sec5{
    overflow: auto;
    width: 100%;
}

#sec5 .card{
    border: 2px solid black;
    width: 300px;
    height: 400px;
    float: left;
}

#sec5 #card1{
    margin-left: 5px;
}


#sec5 #card2, #card3{
    margin-left: 55px;
}

.subcard{
    width: 300px;
    height: 150px;
    background-color: gray;
}

#sec5 #sub1{
    background-image: url(imagens/logo-python-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#sec5 #sub2{
    background-image: url(imagens/imagem-1.jpeg);
    background-position: center left;
}

#sec5 #sub3{
    background-image: url(imagens/logo-javascript-4.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-color: #F7E018;
}

.card{
    margin-bottom: 10px;
    position: relative;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.692);
}



.card article{
    padding: 10px;
}


.card p{
    position: absolute;
    bottom: -15px;
}

.card a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


#sec6{
    margin: 15px 0px 15px 5px;
    padding: 5px;
    border: 2px solid black;
}


#sec6 article{
    margin-top: 15px;
    line-height: 25px;
}


footer{
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 5px;
}
